
<form [formGroup]="productForm" *ngIf="productForm">
  <div class="containe">
      <div>  <i class="pi pi-angle-double-left"></i></div>
      <div><input type="text" pInputText class="input" formControlName="code" /></div>
      <div><i class="pi pi-angle-double-right"></i></div>
      <div><button pButton type="button" class="p-button-info">Imprimer</button></div>
  </div>
    <div class="card">
      <div class="detail_pro">
        <div class="row">
          <div class="form-group col-md-3">
           <label for="">Code*:</label>
           <input type="text" pInputText formControlName="code"/>
          </div>
          <div class="form-group col-md-3">
           <label for=""> Description courte:</label>
           <input type="text" pInputText formControlName="desc"/>
          </div>
          <div class="form-group col-md-3">
           <label for="">Description:</label>
           <textarea [rows]="3" [cols]="7" pInputTextarea [autoResize]="true" formControlName="description"></textarea>
          </div>
          <div class="form-group col-md-3">
           <label for="">Description en arabe:</label>
           <textarea [rows]="3" [cols]="7" pInputTextarea [autoResize]="true"></textarea>
          </div>
          <div class="form-group col-md-3">
           <label for="">Pseudo du produit:</label>
           <input type="text" pInputText />
          </div>
          <div class="form-group col-md-3">
           <label for="">Catégorie produit:</label>
           <input type="text" pInputText/>
          </div>
          <div class="form-group col-md-3">
           <label for="">Type de produit:</label>
           <p-autoComplete formControlName="productType" [suggestions]="description" (completeMethod)="search($event)"></p-autoComplete>
          </div>
          <div class="form-group col-md-3">
           <label for="">Forme de produit:</label>
           <p-autoComplete [dropdown]="true" class="combobox"></p-autoComplete>
          </div>
          <div class="form-group col-md-3">
           <label for="">Fournisseur par défaut:</label>
           <input type="text" pInputText/>
          </div>
          <div class="form-group col-md-3">
           <label for="">TVA*:</label>
           <p-autoComplete [dropdown]="true" id="p-inputtext"></p-autoComplete>
          </div>
          <div class="form-group col-md-3">
           <label for="">Unité de base*:</label>
           <input type="text" pInputText class="uniteBase" formControlName="" />
           <button pButton type="button" icon="pi pi-plus" iconPos="left" class="p-button-success"></button>
          </div>
          <div class="form-group col-md-3">
           <label for="">Unité de vente:</label>
           <p-autoComplete [dropdown]="true" class="combobox"></p-autoComplete>
          </div>
          <div class="form-group col-md-3">
           <label for="">Actif:</label><br><br>

             <p-radioButton  name="active" [value]="true" formControlName="active" label="{{'Oui'| translate}}"></p-radioButton>
             <p-radioButton  name="active" [value]="false" formControlName="active" label="{{'Non'| translate}}"></p-radioButton>

          </div>
          <div class="form-group col-md-3">
           <label for="">Stock:</label><br><br>
             <p-radioButton  name="stocked" [value]="true" formControlName="stocked" label="{{'Oui'| translate}}"></p-radioButton>
             <p-radioButton  name="stocked" [value]="false" formControlName="stocked" label="{{'Non'| translate}}"></p-radioButton>
          </div>
        </div>
     </div>
   </div>
</form>
    <p-tabView>
      <p-tabPanel  header="Prix Produit par zone" >
       <app-product-price>
        [selectedProduct]="product"

       </app-product-price>
      </p-tabPanel>
      <p-tabPanel header="Données financières">
        <app-product-finance></app-product-finance>
      </p-tabPanel>
      <p-tabPanel header="Images">
        <app-product-images></app-product-images>
      </p-tabPanel>
      <p-tabPanel header="Conditionnement">
        <app-product-conditionnement></app-product-conditionnement>
      </p-tabPanel>
      <p-tabPanel header="Fiche technique">
        <app-product-fiche></app-product-fiche>
      </p-tabPanel>

    </p-tabView>




