<p-tabView>
  <p-tabPanel header="Organisation">
    <ng-template pTemplate="content">
      <app-organisation></app-organisation>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel [cache]="false" header="Unite de mesure">
    <ng-template pTemplate="content">
      <app-unite-mesure></app-unite-mesure>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel [cache]="false" header="Secteur d'activité">
    <ng-template pTemplate="content">
      <app-secteur-activite></app-secteur-activite>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel [cache]="false" header="Paramètre">
    <ng-template pTemplate="content">
      <app-parametre></app-parametre>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel [cache]="false" header="Catégorie">
    <ng-template pTemplate="content">
      <app-categorie></app-categorie>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel [cache]="false" header="Habilitation">
    <ng-template pTemplate="content">
      <app-habilitation></app-habilitation>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel [cache]="false" header="Type d'affaire">
    <ng-template pTemplate="content">
      <app-buisness-type></app-buisness-type>
    </ng-template>
  </p-tabPanel>
</p-tabView>
