<p-tabView>
  <p-tabPanel [cache]="false" header="Organisation">
    <app-organisation></app-organisation>
  </p-tabPanel>
  <!-- <p-tabPanel [cache]="false" header="Statut de l'action">
    <app-status-action></app-status-action>
  </p-tabPanel> -->
  <!-- <p-tabPanel header="Statut du compte">
    <app-status-compte></app-status-compte>
  </p-tabPanel> -->
  <!-- <p-tabPanel header="Statut du devis">
    <app-status-devis></app-status-devis>
  </p-tabPanel> -->
  <p-tabPanel [cache]="false" header="Unite de mesure">
    <app-unite-mesure></app-unite-mesure>
  </p-tabPanel>
  <p-tabPanel [cache]="false" header="Secteur d'activité">
    <app-secteur-activite></app-secteur-activite>
  </p-tabPanel>
  <!-- <p-tabPanel header="Statut du ticket">
    <app-status-ticket></app-status-ticket>
  </p-tabPanel> -->
  <!-- <p-tabPanel header="Statut opportunité">
    <app-status-opportunite></app-status-opportunite>
  </p-tabPanel> -->
  <p-tabPanel [cache]="false" header="Paramètre">
    <app-parametre></app-parametre>
  </p-tabPanel>
  <p-tabPanel [cache]="false" header="Catégorie">
    <app-categorie></app-categorie>
  </p-tabPanel>
  <p-tabPanel header="Prérequis">
    <app-prerequis></app-prerequis>
  </p-tabPanel>
  <p-tabPanel [cache]="false" header="Habilitation">
    <app-habilitation></app-habilitation>
  </p-tabPanel>
</p-tabView>
