<nav class="page-sidebar">
  <!-- 222d32 -->
  <div id="sidebar-collapse" style="background-color: #2c3941 !important">
    <ul
      class="side-menu metismenu fixed"
      style="background-color: #2c3941 !important"
    >
      <li>
        <a class="text-white"
          ><i class="sidebar-item-icon"
            ><img
              src="./assets/img/Menu/Parametre.png"
              width="20px"
              height="20px"
          /></i>

          <span class="nav-label"> {{ "Paramétrage" | translate }}</span
          ><i class="fa fa-angle-left arrow"></i
        ></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLink="/core/settings/general" class="m-a"
              ><i class="fa fa-circle-o"></i> {{ "General" | translate }}</a
            >
          </li>

          <!-- <li >
            <a routerLink="/core/settings/controletyperesponse" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Type reponse' | translate}}</a>
          </li>
          <li >
            <a routerLink="/core/settings/process" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Processus' | translate}}</a>
          </li>

          <li >
            <a routerLink="/core/settings/frequency-type" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Type frequence' | translate}}</a>
          </li> -->
        </ul>
      </li>

      <li>
        <a class="text-white"
          ><i
            class="sidebar-item-icon pi pi-chart-line"
            style="font-size: 20px"
          ></i>

          <span class="nav-label"> {{ "Vente" | translate }}</span
          ><i class="fa fa-angle-left arrow"></i
        ></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLink="/core/devis" class="m-a"
              ><i class="fa fa-circle-o"></i> {{ "Devis" | translate }}</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a class="text-white"
          ><i class="sidebar-item-icon"
            ><img
              src="./assets/img/Menu/relation.png"
              width="20px"
              height="20px"
          /></i>

          <span class="nav-label"> {{ "Relation" | translate }}</span
          ><i class="fa fa-angle-left arrow"></i
        ></a>
        <ul class="nav-2-level collapse">
          <li>
            <a routerLink="/core/relation/clients" class="m-a"
              ><i class="fa fa-circle-o"></i> {{ "clients" | translate }}</a
            >
          </li>

          <!-- <li >
            <a routerLink="/core/settings/controletyperesponse" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Type reponse' | translate}}</a>
          </li>
          <li >
            <a routerLink="/core/settings/process" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Processus' | translate}}</a>
          </li>

          <li >
            <a routerLink="/core/settings/frequency-type" class="m-a"><i class="fa fa-circle-o"></i>
              {{'Type frequence' | translate}}</a>
          </li> -->
        </ul>
      </li>

      <!-- <li >


          <a  class="text-white"><i class="sidebar-item-icon fa " >
              <img src="./assets/img/Menu/plan.png" width="20px" height="20px">
            </i>
            <span class="nav-label">{{'Plan de Controle' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-2-level collapse" >
            <li >
              <a routerLink="/core/plan-product/edit" class="m-a"><img src="./assets/img/Menu/insert.png" width="15px"
                  height="15px"> {{'Inserer' | translate}} </a>
            </li>
            <li >
              <a routerLink="/core/plan-product/list" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                  height="15px"> {{'Lister' | translate}}</a>
            </li>
          </ul>

        </li> -->

      <li>
        <a class="text-white"
          ><i class="sidebar-item-icon fa">
            <img
              src="./assets/img/Menu/product.png"
              width="20px"
              height="20px"
            />
          </i>
          <span class="nav-label">{{ "Product" | translate }}</span
          ><i class="fa fa-angle-left arrow"></i
        ></a>
        <ul class="nav-2-level collapse">
          <li>
              <a routerLink="/core/product/list" class="m-a"><img src="./assets/img/Menu/list.png" width="15px"
                  height="15px"> {{'Lister' | translate}}</a>
            </li>
          </ul>
          <ul class="nav-2-level collapse">
            <li>
                <a routerLink="/core/product/catalogue" class="m-a"><img src="./assets/img/Menu/product.png" width="15px"
                    height="15px"> {{'Catalogue' | translate}}</a>
              </li>
            </ul>
            <ul class="nav-2-level collapse">
              <li>
                  <a routerLink="/core/product/add" class="m-a"><img src="./assets/img/Menu/product-add.png" width="15px"
                      height="15px"> {{'Ajouter un produit' | translate}}</a>
                </li>
              </ul>

        </li>


      <!-- <li >


          <a  routerLink="/core/product" class="text-white"><i class="sidebar-item-icon fa " >
              <img src="./assets/img/Menu/product.png" width="20px" height="20px">
            </i>
            <span class="nav-label">{{'Product' | translate}}</span><i class="fa fa-angle-left arrow"></i></a>


        </li>        -->

      <li></li>
    </ul>
  </div>
</nav>
