.button-primary{
  padding: 4px 22px;
  background: #3c8dbc;
  border: none;
  color: white;
}
.button-success{
padding: 4px 22px;
  background: #05c436;
  border: none;
  color: white;
}
.containe{
  margin:30px
}
