
  <div class="row">
    <div class="col-lg-3">
      <label for="">Devise de vente*:</label>
      <p-autoComplete [dropdown]="true" class="combobox"></p-autoComplete>
    </div>
    <div class="col-lg-3">
      <label for=""> Prix de vente unité de base*:</label>
      <input type="text" pInputText/>
    </div>
    <div class="col-lg-3">
      <label for="">Prix d'achat:</label>
      <input type="text" pInputText/>
    </div>
    <div class="col-lg-3">
      <label for="">Marge sur achat:</label>
      <input type="text" pInputText />
    </div>
    <div class="col-lg-3">
      <label for="">Coût de revient:</label>
      <input type="text" pInputText />
    </div>
    <div class="col-lg-3">
      <label for="">Marge sur coût de revientt:</label>
      <input type="text" pInputText/>
    </div>
    <div class="col-lg-3">
      <label for="">Remise maximal:</label>
      <input type="text" pInputText />
    </div>
    <div class="col-lg-3">
      <label for="">Prix de maintenance annuel:</label>
      <input type="text" pInputText />
    </div>
  </div>
