<div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="code">Code *</label>
      <input id="code" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="nomOrganisation">Nom de l'organisation *</label>
      <input id="nomOrganisation" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="desc">Description</label>
      <input id="desc" type="text" pInputText />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="tpo">Telephone principal de l'organisation</label>
      <input id="tpo" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="fax">Fax</label>
      <input id="fax" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="siret">SIRET *</label>
      <input id="siret" type="text" pInputText />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="tpo">Taxe professionelle *</label>
      <input id="tpo" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="if">Identification fiscale *</label>
      <input id="if" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="ice">Identifiant commun de l'entreprise*</label>
      <input id="ice" type="text" pInputText />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="tpo">Classification fiscale</label>
      <input id="tpo" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="if">Site web</label>
      <input id="if" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        maxFileSize="1000000"
        chooseLabel="Logo"
        [auto]="true"
      ></p-fileUpload>
      <img
        class="mt-3 w-10 h-10"
        src="../../../../assets/img/logos/logo pocket crm.png"
        alt=""
      />
    </div>
  </div>
  <!-- Panels starts here -->
  <div class="p-fluid p-formgrid p-grid mt-5">
    <div class="p-field p-col">
      <p-panel header="Adresse" [toggleable]="true">
        <div class="p-field">
          <label for="adr_sie_pr">Nom d''adresse du siège principal*</label>
          <input id="adr_sie_pr" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="pr_lig_add">Première ligne d'adresse*</label>
          <input id="pr_lig_add" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="dex_lig_add">Deuxième ligne d'adresse</label>
          <input id="dex_lig_add" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="ville">Ville*</label>
          <input id="ville" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="code_zip">Code Zip*</label>
          <input id="code_zip" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="pays">Pays*</label>
          <input id="pays" type="text" pInputText />
        </div>
      </p-panel>
    </div>
    <div class="p-field p-col">
      <p-panel header="Contact Principal" [toggleable]="true">
        <div class="p-field">
          <label for="nom">Nom*</label>
          <input id="nom" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="prenom">Prénom</label>
          <input id="prenom" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="email"> Email*</label>
          <input id="email" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="telephone">Téléphone</label>
          <input id="telephone" type="text" pInputText />
        </div>
      </p-panel>
      <p-panel header="Conditions générales">
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          autoResize="autoResize"
        ></textarea>
      </p-panel>
    </div>
    <div class="p-field p-col">
      <p-panel header="Contact Logistique" [toggleable]="true">
        <div class="p-field">
          <label for="nomL">Nom*</label>
          <input id="nomL" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="prenomL">Prénom</label>
          <input id="prenomL" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="emailL"> Email*</label>
          <input id="emailL" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="telephoneL">Téléphone</label>
          <input id="telephoneL" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="comment">Commentaire</label>
          <br />
          <textarea
            id="comment"
            rows="5"
            cols="30"
            pInputTextarea
            autoResize="autoResize"
          ></textarea>
        </div>
      </p-panel>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-success">Valider</button>
  </div>
</div>
