<form [formGroup]="organisationForm" *ngIf="organisationForm">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="code">Code *</label>
      <input
        id="code"
        formControlName="organisationCode"
        type="text"
        pInputText
      />
    </div>
    <div class="p-field p-col">
      <label for="nomOrganisation">Nom de l'organisation *</label>
      <input
        id="nomOrganisation"
        formControlName="organisationName"
        type="text"
        pInputText
      />
    </div>
    <div class="p-field p-col">
      <label for="desc">Description</label>
      <input id="desc" formControlName="description" type="text" pInputText />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="tpo">Telephone principal de l'organisation</label>
      <input id="tpo" formControlName="telPrincipal" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="fax">Fax</label>
      <input id="fax" formControlName="fax" type="text" pInputText />
    </div>
    <div class="p-field p-col">
      <label for="siret">SIRET *</label>
      <input id="siret" formControlName="siret" type="text" pInputText />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="tpo">Taxe professionelle *</label>
      <input
        id="tpo"
        type="text"
        formControlName="taxeProfessionelle"
        pInputText
      />
    </div>
    <div class="p-field p-col">
      <label for="if">Identification fiscale *</label>
      <input
        id="if"
        type="text"
        formControlName="identificationFiscale"
        pInputText
      />
    </div>
    <div class="p-field p-col">
      <label for="ice">Identifiant commun de l'entreprise*</label>
      <input
        id="ice"
        type="text"
        formControlName="idCommunEntreprise"
        pInputText
      />
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="tpo">Classification fiscale</label>
      <input
        id="tpo"
        type="text"
        formControlName="classificationFiscale"
        pInputText
      />
    </div>
    <div class="p-field p-col">
      <label for="if">Site web</label>
      <input id="if" type="text" formControlName="siteWeb" pInputText />
    </div>
    <div class="p-field p-col">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        maxFileSize="1000000"
        chooseLabel="Logo"
        [auto]="true"
      ></p-fileUpload>
      <img
        class="mt-3 w-10 h-10"
        src="../../../../assets/img/logos/logo pocket crm.png"
        alt=""
      />
    </div>
  </div>
  <!-- Panels starts here -->
  <div class="p-fluid p-formgrid p-grid mt-5">
    <div class="p-field p-col">
      <p-panel header="Adresse" [toggleable]="true">
        <div class="p-field">
          <label for="adr_sie_pr">Nom d''adresse du siège principal*</label>
          <input
            id="adr_sie_pr"
            type="text"
            formControlName="nAdresseSiegePrincipal"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="pr_lig_add">Première ligne d'adresse*</label>
          <input
            id="pr_lig_add"
            type="text"
            formControlName="premiereLigneAdresse"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="dex_lig_add">Deuxième ligne d'adresse</label>
          <input
            id="dex_lig_add"
            type="text"
            formControlName="deuxiemeLigneAdresse"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="ville">Ville*</label>
          <input id="ville" type="text" formControlName="ville" pInputText />
        </div>
        <div class="p-field">
          <label for="code_zip">Code Zip*</label>
          <input
            id="code_zip"
            type="text"
            formControlName="codeZip"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="pays">Pays*</label>
          <input id="pays" type="text" formControlName="pays" pInputText />
        </div>
      </p-panel>
    </div>
    <div class="p-field p-col">
      <p-panel header="Contact Principal" [toggleable]="true">
        <div class="p-field">
          <label for="nom">Nom*</label>
          <input
            id="nom"
            type="text"
            formControlName="nomContactPrincipal"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="prenom">Prénom</label>
          <input
            id="prenom"
            type="text"
            formControlName="prenomContactPrincipal"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="email"> Email*</label>
          <input
            id="email"
            type="text"
            formControlName="emailContactPrincipal"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="telephone">Téléphone</label>
          <input
            id="telephone"
            type="text"
            formControlName="telContactPrincipal"
            pInputText
          />
        </div>
      </p-panel>
      <p-panel header="Conditions générales">
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="conditionsGenerals"
          autoResize="autoResize"
        ></textarea>
      </p-panel>
    </div>
    <div class="p-field p-col">
      <p-panel header="Contact Logistique" [toggleable]="true">
        <div class="p-field">
          <label for="nomL">Nom*</label>
          <input id="nomL" type="text" formControlName="nomContactLogistique" pInputText />
        </div>
        <div class="p-field">
          <label for="prenomL">Prénom</label>
          <input id="prenomL" type="text" formControlName="prenomContactLogistique" pInputText />
        </div>
        <div class="p-field">
          <label for="emailL"> Email*</label>
          <input id="emailL" type="text" formControlName="emailContactLogistique" pInputText />
        </div>
        <div class="p-field">
          <label for="telephoneL">Téléphone</label>
          <input id="telephoneL" type="text" formControlName="telContactLogistique" pInputText />
        </div>
        <div class="p-field">
          <label for="comment">Commentaire</label>
          <br />
          <textarea
            id="comment"
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="commentContactLogistique"
            autoResize="autoResize"
          ></textarea>
        </div>
      </p-panel>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-success">Valider</button>
  </div>
</form>
