<div
  class="container-fluid cadr"
>

  <div>
    <!--
      <button
        type="button"
        class="btn btn float-right  btn-outline-primary m-5 "
        (click)="logout()"
      >
        <i class="fa fa-sign-out"></i> {{'Deconnexion' | translate }}
      </button>
    </div> -->


    <main class="site-wrapper">

      <!-- class="pt-table desktop-768" -->
      <div class="pt-table">

        <div class="pt-tablecell page-home relative">
          <div class="crm" style="margin-top: -30px;margin-bottom: 30px;">
            <a routerLink="/core">
              <img src="./assets/img/logos/logo%20pocket%20crm.png" style="width: 140px;height:80px;"><br>
            </a>

            <!--            <a class="link" routerLink="/index" style="color: #414848;">QUALITÉ</a>-->
          </div>
          <div class="overlay">

          </div>

          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">


                <div class="hexagon-menu clear">
                  <div class="hexagon-item">
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>

                    <a class="hex-content" routerLink="/core/plan-product/list">
                                            <span class="hex-content-inner">
                                                <span class="icon">

                                                  <i class="pi pi-cog toChangeColor toChangeSize" ></i>
                                                </span>
                                                <span class="toChangeColor">Parametrage</span>
                                            </span>
                    </a>
                  </div>
                  <div class="hexagon-item">
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <a class="hex-content">

                      <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                           xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                          fill="#1e2530"></path>
                      </svg>
                    </a>
                  </div>
                  <div class="hexagon-item">
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <a class="hex-content" routerLink="/core/control-validation/list">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                  <i class="pi pi-user toChangeColor toChangeSize" ></i>
                                              </span>
                                              <span class="toChangeColor">Utilisateur</span>
                                          </span>
                    </a>
                  </div>
                  <div class="hexagon-item">
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <a class="hex-content">

                      <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                           xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                          fill="#1e2530"></path>
                      </svg>
                    </a>
                  </div>
                  <div class="hexagon-item">
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <a class="hex-content" routerLink="/core">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                  <i class="pi pi-ticket toChangeColor toChangeSize" ></i>
                                              </span>
                                              <span class="toChangeColor">Ticket</span>
                                          </span>
                    </a>
                  </div>
                  <div class="hexagon-item">
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <a class="hex-content" routerLink="/core/notification">
                                             <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="pi pi-bell toChangeColor toChangeSize" ></i>
                                                </span>
                                                <span class="toChangeColor">notification</span>
                                            </span>
                      <!-- <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" ><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg> -->
                    </a>
                  </div>
                  <div class="hexagon-item">
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <div class="hex-item">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <a class="hex-content" (click)="logout()">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                  <i class="pi pi-sign-out toChangeColor toChangeSize" ></i>

                                              </span>
                                              <span class="toChangeColor">Logout</span>
                                          </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


    <!-- <div class="container">
      <div class="row centered" style="margin: 20% 15% 15% 15%;">

         <div class="col-md-4" >
          <a routerLinkActive="active" routerLink="/core/plan-product/list">
          <div class="text-center p-3 menu"  >
            <img src="./assets/img/chauffeur.png" style="width: 67px;height:67px;" class="mb-2"><br>

             <span class="text-white">{{'Controle' | translate }}</span>

          </div>
        </a>



         </div>








      </div>
    </div> -->
  </div>









