<app-data-table
  [className]="className"
  [cols]="cols"
  [objectList]="productByZoneList"
  [collectionSize]="collectionSize"
  [size]="size"
  (objectEdited)="onObjectEdited($event)"
  (lazyLoadData)="loadDataLazy($event)"
  (exportBtnExcelGlobal)="onExportExcel($event)"
  (exportBtnPdf)="onExportPdf($event)"
  (exportBtnExcelVue)="onExportExcel($event)"
  [listName]="titleList"
  [updateBtnDisable]="'false'"
></app-data-table>
<div *ngIf="showDialog == true">
  <app-add-product-price
    [editMode]="editMode"
  [selectedProductPriceByZone]="selectedProductPriceByZone[0]"
  (productPriceByZone)="getProductPriceByZone($event)"
    (showDialog)="onShowDialog($event)"
  >
  </app-add-product-price>
</div>
<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  size="large"
  color="#00d2ff"
  type="ball-spin-fade-rotating"
></ngx-spinner>



<p-confirmDialog

  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [acceptLabel]="'Oui'"
  [rejectLabel]="'Non'"
>
</p-confirmDialog>
