<p-panel header="Filtre type de produit" [toggleable]="true">
  <div class="row">
    <div class="col-md-3">
      <label class="font-weight-bold">{{ "Code :" | translate }}</label
      ><br />
      <p-autoComplete [(ngModel)]="codeSearch" [suggestions]="productTypeList" (completeMethod)="oncodeProductTypeSearch($event)" field="code">
    </p-autoComplete>
    </div>
</div>
  <br />
  <br />
  <br />

  <div class="text-center">
    <button type="button" class="btn btn-primary mr-2" (click)="reset()">
      <i class="fa fa-refresh mr-2"></i> {{ 'Réinitialiser' | translate}}
    </button>

    <button type="button" class="btn btn-success" (click)="onSearchClicked()">
      <i class="fa fa-search mr-2"></i> {{ 'Rechercher' | translate}}
    </button>
  </div>
</p-panel>
<div class="card">
  <p-dataView #dv [value]="productType" [paginator]="true" [rows]="4" filterBy="code">
      <ng-template>

          <ngx-spinner
            bdColor="rgba(255,255,255,0)"
            size="large"
            color="#00d2ff"
            type="ball-spin-fade-rotating"
          ></ngx-spinner>

      </ng-template>
      <ng-template let-productType pTemplate="listItem">
        <div class="col-lg-3">
          <div>
              <div class="product-grid-item-content" style="text-align: center;">
                  <img [src]=" 'data:image/jpeg;base64,'+productType.image" [alt]="productType.code" width="60%" style="text-align: center;"/>
                  <div class="product-code">{{productType.code}}</div>
              </div>
          </div>
      </div>

      </ng-template>

      <ng-template let-productType pTemplate="gridItem">

        <div class="col-lg-4">
           <div class="product-grid-item card">
                <div class="product-grid-item-content">
                  <img [src]=" 'data:image/jpeg;base64,'+productType.image"  [alt]="productType.code"/>
                  <div class="product-code">{{productType.code}}</div>
                </div>
            </div>

        </div>
    </ng-template>
    <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>

  </p-dataView>
</div>
